<p class="alert alert-warning"><strong>Smart</strong> is the ability to recall and make novel connections with knowledge.</p>

<p>When the ego is built around being smart, risks become more risky. A smart person will never lose face by taking the safe choice: go to the best college, take the highest paying job, marry that beautiful girl, and build up that 401K. There are always reasons not to do something, but being seen as stupid should not be one.</p>

<p>Don't let the risk of failure paralyze you from doing what you want. Don't let your ego get wrapped in being smart.</p>

<p>Schools created the problem by giving tests then grouping students by their scores. The top group is labeled smart and assumed the most likely to succeed, but outside of academics being smart will not ultimately determine their success:</p>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>Situation</th>
      <th>Most important qualities</th>
    </tr>
    <tr>
      <td>Working for yourself</td>
      <td>Persistence and Discipline</td>
    </tr>
    <tr>
      <td>Working for others</td>
      <td>Dependability</td>
    </tr>
    <tr>
      <td>In Public</td>
      <td>Patience and Tactfulness</td>
    </tr>
    <tr>
      <td>Starting Relationships</td>
      <td>Confidence and Respectfulness</td>
    </tr>
    <tr>
      <td>Keeping Relationships</td>
      <td>Trustworthiness and Patience</td>
    </tr>
    <tr>
      <td>Computer Programming</td>
      <td>Patience and Persistence</td>
    </tr>
    <tr>
      <td>Politics</td>
      <td>Perseverance and being well-spoken</td>
    </tr>
    <tr>
      <td>Entertainment</td>
      <td>Charisma and Persistence</td>
    </tr>
    <tr>
      <td>Conflict and Sports</td>
      <td>Unflappability</td>
    </tr>
  </tbody>
</table>

<p>In most of these situations, smarts doesn't help and can even distract or deter. The ideal situation for a smart person is being isolated or around other smart people, so they can slowly reason things out. But even when heavily controlled, life doesn't always allow that, so learn to emphasize other qualities. For instance, show some patience before calling someone stupid.</p>
