<p>The Denver Broncos are a business, and they made the business decision to sign Peyton Manning, believing he gives them a better team. Tim Tebow's stock is at an all-time high and they're cashing out. It was the <strong>safe</strong> play. He's Peyton Manning.</p>

<p>Tim Tebow will now likely go to a struggling team where he'll lack the support to succeed, and everyone who argued he wasn't an NFL quarterback will be vindicated. But why is everyone so invested in Tim Tebow's fate? Many first round draft picks don't work out.</p>

<h2 id="first-round-qbs"><a href="#first-round-qbs">First Round Quarterbacks 2000-2008</a></h2>

<table class="table table-bordered table-striped table-highlights">
  <tbody>
    <tr>
      <th></th>
      <th>Year</th>
      <th>Pick</th>
      <th>Player</th>
    </tr>
    <tr class="highlight">
      <td>1</td>
      <td>2000</td>
      <td>18</td>
      <td>Chad Pennington</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2001</td>
      <td>1</td>
      <td>Michael Vick</td>
    </tr>
    <tr class="highlight">
      <td>3</td>
      <td>2002</td>
      <td>1</td>
      <td>David Carr</td>
    </tr>
    <tr class="highlight">
      <td>4</td>
      <td>2002</td>
      <td>3</td>
      <td>Joey Harrington</td>
    </tr>
    <tr class="highlight">
      <td>5</td>
      <td>2002</td>
      <td>32</td>
      <td>Patrick Ramsey</td>
    </tr>
    <tr>
      <td>6</td>
      <td>2003</td>
      <td>1</td>
      <td>Carson Palmer</td>
    </tr>
    <tr>
      <td>7</td>
      <td>2003</td>
      <td>7</td>
      <td>Byron Leftwich</td>
    </tr>
    <tr class="highlight">
      <td>8</td>
      <td>2003</td>
      <td>19</td>
      <td>Kyle Boller</td>
    </tr>
    <tr class="highlight">
      <td>9</td>
      <td>2003</td>
      <td>22</td>
      <td>Rex Grossman</td>
    </tr>
    <tr>
      <td>10</td>
      <td>2004</td>
      <td>1</td>
      <td>Eli Manning</td>
    </tr>
    <tr>
      <td>11</td>
      <td>2004</td>
      <td>4</td>
      <td>Philip Rivers</td>
    </tr>
    <tr>
      <td>12</td>
      <td>2004</td>
      <td>11</td>
      <td>Ben Roethlisberger</td>
    </tr>
    <tr class="highlight">
      <td>13</td>
      <td>2004</td>
      <td>22</td>
      <td>J.P. Losman</td>
    </tr>
    <tr class="highlight">
      <td>14</td>
      <td>2005</td>
      <td>1</td>
      <td>Alex Smith</td>
    </tr>
    <tr>
      <td>15</td>
      <td>2005</td>
      <td>24</td>
      <td>Aaron Rodgers</td>
    </tr>
    <tr class="highlight">
      <td>16</td>
      <td>2005</td>
      <td>25</td>
      <td>Jason Campbell</td>
    </tr>
    <tr class="highlight">
      <td>17</td>
      <td>2006</td>
      <td>3</td>
      <td>Vince Young</td>
    </tr>
    <tr class="highlight">
      <td>18</td>
      <td>2006</td>
      <td>10</td>
      <td>Matt Leinhart</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2006</td>
      <td>11</td>
      <td>Jay Cutler</td>
    </tr>
    <tr class="highlight">
      <td>20</td>
      <td>2007</td>
      <td>1</td>
      <td>JaMarcus Russell</td>
    </tr>
    <tr class="highlight">
      <td>21</td>
      <td>2007</td>
      <td>22</td>
      <td>Brady Quinn</td>
    </tr>
    <tr>
      <td>22</td>
      <td>2008</td>
      <td>3</td>
      <td>Matt Ryan</td>
    </tr>
    <tr>
      <td>23</td>
      <td>2008</td>
      <td>18</td>
      <td>Joe Flacco</td>
    </tr>
  </tbody>
</table>

<p>I consider the blue name to have worked out poorly. Sports are built on having something to cheer for, but actively hating a player is beyond competition. What drives people to this?</p>

<ul>
  <li><strong>Rival fans</strong> hate him. Tebow has ruined entire seasons for the University of Georgia, the University of Alabama, and many more: that's sports.</li>
  <li><strong>The unreligious</strong> get offended by him. Tebow thanks God <em>a lot</em>, but it's television. He's not going <a href="http://www.google.com/search?q=clockwork+orange+torture&amp;tbm=isch">Clockwork Orange</a> on anyone. They are just ultra-sensitive to the topic and need to take a couple more steps towards apathy.</li>
  <li><strong>NFL Analysts</strong> don't think he'll succeed. They've said it so often their ego is wrapped in it. They can't be wrong, so they cherry-pick his mistakes to prove it.</li>
  <li><strong>NFL Enthusiasts</strong> are tired of him. They watch <em>a lot</em> of ESPN and blame Tebow for ruining it, forgetting that Tebow doesn't produce Sportscenter.</li>
  <li><strong>Doubters</strong> think he's lying. They see through his thinly veiled words because everyone has always let them down, so they always see the bad, assume the worst, and are very lonely.</li>
</ul>

<p class="alert alert-info">If you fit any of these descriptions, you are actively wishing failure onto another human being, and Tim Tebow is better than you.</p>

<p class="centered"><%= post_image_tag('dont-be-a-dick.jpg', alt: "Jesus says don't be a dick") %><br/>Copyright <a href="http://www.penny-arcade.com/">Penny Arcade</a></p>
